<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
    
<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>addressService</servlet-name>
		<servlet-class>com.greeting.web.gwt.server.GeocodingAddressServiceGWTWrapperImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addressService</servlet-name>
		<url-pattern>/greeting/greetingService</url-pattern>
	</servlet-mapping>

	<!-- spring integration -->

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml </param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>greeting.html</welcome-file>
	</welcome-file-list>

</web-app>
